.article-header {
  line-height: normal;
  font-size: 30px;
  letter-spacing: 0.03em;
  font-weight:normal;
  color: #00205A;
}

.article-subheader {
  line-height: normal;
  font-size: 20px;
  letter-spacing: 0.05em;
  color: #00205A;
  font-weight: normal;
}

.article-text {
  line-height: 22px;
  font-size: 18px;
  letter-spacing: 0.03em;
  color: #474747;
  font-weight: normal;
  margin:19px 0 0 0;
}
