.article-header {
  line-height: normal;
  font-size: 30px;
  letter-spacing: 0.03em;
  font-weight:normal;
  color: #00205A;
}

.article-subheader {
  line-height: normal;
  font-size: 20px;
  letter-spacing: 0.05em;
  color: #00205A;
  font-weight: normal;
}

.article-text {
  line-height: 22px;
  font-size: 18px;
  letter-spacing: 0.03em;
  color: #474747;
  font-weight: normal;
  margin:19px 0 0 0;
}

.article-pre {
  font-weight: normal;
  line-height: 13px;
  font-size: 15px;
  letter-spacing: 0.05em;
  color: #00205A;
}

.article-bold {
  line-height: 53px;
  font-size: 60px;
  letter-spacing: -0.01em;
  color: #000000;
  margin:19px 0 19px 0;
  font-weight: bold;
}

.article-medium {
  line-height: 31px;
  font-size: 25px;
  letter-spacing: 0.03em;
  color: #474747;
  font-weight: normal;
}

.article-subbold {
  line-height: 31px;
  font-size: 24px;
  letter-spacing: 0.03em;
  color: #474747;
  font-weight: normal;
}

.CTA {
   display:flex;
   flex-direction:row;
   align-items: center;
   justify-content: space-between;
   height:208px;
   background-color:#FAFAFA;
   border-top:1px solid rgba(0,0,0,0.2);
   border-bottom:1px solid rgba(0,0,0,0.2);
   padding:10px 0 10px 180px;
   color:#334A74;
}

.cta-section {
  width:50%;
}

.CTA > form {
  margin:0;
}

.CTA > form > button {
  width:150px;
}

.CTA > form > input {
  width:205px;
}

.cta-text {
  line-height: 22px;
  font-size: 18px;
  letter-spacing: 0.03em;
  color:#334A74;
  font-weight: normal;
  margin:19px 0 0 0;
}

.CTA > .email-sign-up > .email-input {
  border: 1px solid rgba(0,0,0,0.2);
}

.white {
  color:white;
}

.margin-after {
  margin:0 0 220px 0;
}

.text-section.no-border {
  border:0;
}

.CTA.last {
  background-color:#000C21;
  color:#FFFFFF;
  border-top:0px ;
  border-bottom:0px;
  height:370px;
}

.indented {
  margin: 0 0 120px -180px;
}


@media only screen and (max-width: 768px) {
    /* For mobile phones: */


    .article-pre {
      font-weight: normal;
      line-height: 12px;
      font-size: 14px;
      letter-spacing: 0.05em;
      color: #00205A;
    }

    .article-bold {

      line-height: 31px;
      font-size: 35px;
      letter-spacing: -0.01em;
      font-weight:bold;
      color: #000000;
    }

    .article-subbold {
      line-height: 20px;
      font-size: 16px;
      letter-spacing: 0.03em;
      color: #474747;
      font-weight:normal;
    }

    .article-medium {
      line-height: 20px;
      font-size: 16px;
      letter-spacing: 0.03em;
      color: #474747;
      font-weight: normal;
      margin:19px 0 0 0;
    }

    .CTA {
       display:flex;
       flex-direction:column;
       justify-content:center;
       height:337px;
       background-color:#FAFAFA;
       border-top:1px solid rgba(0,0,0,0.2);
       border-bottom:1px solid rgba(0,0,0,0.2);
       padding:20px;
       box-sizing:border-box;
       color:#334A74;
    }

    .article-header {
      font-size: 24px;
    }

    .article-subheader {
      font-size: 14px;
    }

    .article-text {
      font-size: 16px;
    }

    .margin-after {
      margin:0 0 110px 0;
    }

    .cta-section {
      width:auto;
    }

    .CTA > form {
      margin:19px 0 0 0;
    }

    .CTA > form > button {
      width:150px;
    }

    .CTA > form > input {
      width:205px;
    }

    .indented {
      margin: 0 0 120px -22px;
    }

    .cta-text {
      line-height: 22px;
      font-size: 18px;
      letter-spacing: 0.03em;
      color:#334A74;
      width:auto;
      font-weight: normal;
      margin:19px 0 0 0;
    }

    .white {
      color:white;
    }

    .cta.last {
      background-color:#000C21;
      color:#FFFFFF;
      border-top:0px ;
      border-bottom:0px;
      height:337px;
    }
