.autonomous {
  margin:120px 0 0 0;
  padding:0 0 0 180px;
  width:100%;
  height:100vh;
  display:flex;
  flex-direction:row;
  align-items: center;
  justify-content:space-between;
  background-color:#FEFEFE;
  box-sizing: border-box;
}

.header-section {
  max-width:570px;
  margin:0 0 120px 0;
}

.subheader-section {
  max-width:570px;
}

.autonomous-image {
  width:650px;
  height:650px;
  background-position: center;
  background: url('../resources/tekniskoverlay.png');
  background-size: cover;
}


@media only screen and (max-width: 768px) {
    /* For mobile phones: */

  .autonomous {
    margin:110px 0 110px 0;
    height:auto;
    width:100%;
    flex-direction:column;
    padding:0 0 0 22px;
    align-items:flex-start;
  }



  .autonomous-image {
    width:100%;
    height:300px;
    align-self: flex-end;
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
  }

  .autonomous-text-section {
    margin: 0 0 19px 0;
    padding: 0 22px 0 0;
  }

}
