.contact {
  display:flex;
  position:relative;
  padding:0 180px 0 180px;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
  height:100%;
}


.menu-col>ul>li>a {
  font-size:1.125em;
}

.menu-col>ul>li {
  margin:0 0 22px 0;
}

.company-info {
  width:40%;
}

.company-info>p {
  font-size:1em;
}

.footer {
   background-color:#00205A;
   height:450px;
}

.footer-logotype {
  height:50px;
  width:50px;
  position: absolute;
  left:180px;
  top:55px;
}

.footer-lists {
  display:flex;
  justify-content: space-between;
  width:60%;
}

.menu-col{
  width: 180px;
}


@media only screen and (max-width: 768px) {
    /* For mobile phones: */


.contact {
  height:435px;
  display:flex;
  padding:60px 22px 60px 22px;
  box-sizing: border-box;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: baseline;
}

  .contact-menu {
    display:flex;
  }

  .contact-menu>.menu-col>ul>li>a {
    font-size:1.125em;
  }

  .contact-menu>.menu-col>ul>li {
    margin:0 0 19px 0;
  }

  .company-info>p {
    font-size:1em;
  }

  .footer {
     background-color:#00205A;
  }

  .footer-logotype {
    height:50px;
    width:50px;
    position:static;
  }

  .menu-col {
    width:50%;
  }

  .footer-lists {
    width:100%;
  }

  }
