.contact {
  display:flex;
  padding:0 180px 0 180px;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
  height:100%;
}


.menu-col>ul>li>a {
  font-size:18px;
}

.menu-col>ul>li {
  margin:0 0 22px 0;
}

.company-info {
}

.company-info>p {
  font-size:16px;
}

.footer {
   background-color:#00205A;
   height:450px;
}

.footer-logotype {
  height:50px;
  width:50px;
}



@media only screen and (max-width: 768px) {
    /* For mobile phones: */


.contact {
  height:435px;
  display:flex;
  padding:60px 22px 60px 22px;
  box-sizing: border-box;
  flex-direction: row;
  flex-wrap: wrap;
}

  .contact-menu {
    display:flex;
  }

  .contact-menu>.menu-col>ul>li>a {
    font-size:18px;
  }

  .contact-menu>.menu-col>ul>li {
    margin:0 0 22px 0;
  }

  .company-info>p {
    font-size:16px;
  }

  .footer {
     background-color:#00205A;
  }

  .footer-logotype {
    height:50px;
    width:50px;
  }

  .menu-col {
    width:50%;
  }

  }
