.history {
   display:flex;
   flex-direction:column;
   height:579px;
   background-image:url('../resources/desktop/image_background-history.jpg');
   background-repeat:no-repeat;
   background-size:cover;
   padding:100px 0 45px 180px;
   margin:120px 0 0 0;
   box-sizing:border-box;
   font-family:aktiv-grotesk, sans-serif;
}

.history-header {
  line-height: normal;
  font-size: 30px;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  font-weight: normal;
}

.history-text {
  line-height: 23px;
  font-size: 18px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  max-width: 540px;
  margin:19px 0 0 0;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
  .history {
     height:688px;
     padding:100px 20px 0 20px;
     margin:55px 0 0 0;
  }

  .history-header {
    line-height: normal;
    font-size: 24px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    font-weight: normal;
    margin:0 0 19px 0;
  }

  .history-text {
    line-height: 20px;
    font-size: 16px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    max-width: 100%;
  }
}
