/*
Classes used for slideshow section
 */

.quote {
  line-height: 28px;
  font-size: 1.4375em;
  letter-spacing: 0.03em;
  color: #000000;
  font-weight:normal;
}

.viewport-container {
  width:100%;
  height:100vh;
  background-color:#F2F2F2;
  padding: 0 180px 0 180px;
  margin:120px 0 0 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow-x: scroll;
}


.photo {
  height:100%;
  width:100%;
  max-width:500px;
  margin:0 25px 0 0;
}

.slide-show-photo {
  width:50%;
  height:50%;
  align-self: center;
  display: flex;
  align-items: center;
}

.slide-show-text {
  width:50%;
  height:453px;
  display: flex;
  margin:0 0 0 5px;
  align-items: center;
  padding: 0 0 0 50px;
  box-sizing: border-box;
}

.slide-show-controller {
  margin:75px 0 0 0;
  height:30px;
  width:100%;
  display:flex;
  align-items: center;
  justify-content: space-between;
}

.slide {
  display:flex;
  height:50%;
  width:100%;
  transform:translateX(0);
  flex-shrink:0;
  flex-grow:1;
}


::-webkit-scrollbar {
display: none;
}

.container {
  background-color: #E8EAF6;
  width: 100%;
  overflow-x: auto;
}

.quote-name {
  margin: 45px 0 0 0;
  line-height: normal;
  font-size: 1em;
  letter-spacing: 0.05em;
  color: #000000;
  font-weight:normal;
}

.quote-source {
  line-height: normal;
  font-size: 0.75em;
  letter-spacing: 0.03em;
  font-weight:normal;
  color: rgba(0, 0, 0, 0.5);
}

.slide-button {
  background-color: #C4C4C4;
  height:11px;
  width:11px;
  border-radius:50%;
  margin: 0 8px 0 8px;
  cursor:pointer;
}

.button-container {
  display:flex;
  flex-direction: row;
}

.slide-container {
  display: flex;
  position: relative;
  max-width: 100%;
  overflow-x: hidden;
}

.selected-button {
  background-color: #979797;
  transition:0.2s;
}

.left-arrow, .right-arrow {
  cursor:pointer;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .viewport-container {
      height: 617px;
      margin:55px 11px 55px 11px;
      width:100%;
      padding:0;
      justify-content: flex-start;
      width:auto;
    }

    .slide {
      flex-direction: column;
      padding:22px 11px 0 11px;
      box-sizing: border-box;
    }

    .slide-show-photo {
      width:100%;
      height:100%;
      justify-content: center;
    }

    .slide-show-text {
      width:100%;
      height:100%;
      margin:40px 0 0 0;
      align-items: baseline;
      justify-content: center;
      text-align: center;
      padding:0;
    }

    .slide-show-controller {
      margin:0;
      padding:0 44px 0 44px;
      box-sizing: border-box;
    }

    .quote-name {
      margin:22px 0 0 0;
    }

    .quote-source {
      margin:0 0 30px 0;
    }

    .photo {
      margin:0;
      max-height: 246px;
      max-width: 246px;
      width:100%;
      height:100%;
    }

    .quote {
      line-height: 20px;
      font-size: 1em;
      text-align: center;
      letter-spacing: 0.03em;
      color: #000000;
    }

}

@media (min-width: 768px) and (max-width: 1024px) {
 /* For Tablets: */
  .viewport-container {
    padding:0 100px 0 100px;
  }
}
