.smartphone {
   display:flex;
   flex-direction:row;
   padding: 0px 180px 0px 180px;
   margin: 0 0 220px 0;
   justify-content: space-between;
}

.smartphone-content {
   display:flex;
   flex-direction: column;
   box-sizing: border-box;
   justify-content: center;
}

.smartphone-article {
   max-width:420px;
}

.smartphone-article:after{
   content:"";
   display:block;
   height:2px;
   width:80px;
   position:absolute;
   background-color:lightgrey;
   margin: 10px 0 0 0;
}

.smartphone-image {
   width:34%;
   height:614px;
   background-color: lightgrey;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */

   .smartphone {
      display:flex;
      flex-direction:row;
      padding:0px 0px 0px 20px;
      margin:0 0 110px 0;
      justify-content: center;
   }

   .smartphone-content {
      display:flex;
      width:60%;
      box-sizing: border-box;
   }

   .smartphone-image {
      width:40%;
      height:440px;
   }


   .smartphone-article {
      max-width: none;
   }

}
