@import url("article.css");
@import url("autonomous.css");
@import url("comfort.css");
@import url("engineering.css");
@import url("footer.css");
@import url("history.css");
@import url("merch.css");
@import url("product.css");
@import url("slide-show.css");
@import url("smartphone.css");
@import url("statistics.css");

@font-face {
font-family:"aktiv-grotesk";
src:url("https://use.typekit.net/af/affdf5/00000000000000003b9b0328/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/affdf5/00000000000000003b9b0328/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/affdf5/00000000000000003b9b0328/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
font-style:normal;font-weight:400;
}

@font-face {
font-family:"aktiv-grotesk";
src:url("https://use.typekit.net/af/90ce96/00000000000000003b9b0329/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff2"),url("https://use.typekit.net/af/90ce96/00000000000000003b9b0329/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff"),url("https://use.typekit.net/af/90ce96/00000000000000003b9b0329/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("opentype");
font-style:italic;font-weight:400;
}

@font-face {
font-family:"aktiv-grotesk";
src:url("https://use.typekit.net/af/b5ce2a/00000000000000003b9b032d/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/b5ce2a/00000000000000003b9b032d/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/b5ce2a/00000000000000003b9b032d/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
font-style:bold;font-weight:700;
}

/*
GLOBAL SELECTORS
 */

 *{
   margin:0;
   padding:0;
 }


 a {
  color:white;
  font-size:2em;
  text-decoration: none;
 }

 body {
   padding:0;
   margin:0;
   width:100%;
   font-family:aktiv-grotesk, sans-serif;
   transition: all 0.3s;
   background-color: white;
   color:white;
 }

 a:after{
   content: "Links dont work in demo!";
   display: block;
   background-color:white;
   width: 0;
   position:absolute;
   height: 0;
   border-radius: 5px;
   opacity: 0;
   overflow:hidden;
   padding:4px;
   transition:opacity 0.2s ease-in-out;
  }

 .hero-sub {
   line-height: normal;
   font-size: 1.125em;
   letter-spacing: 0.03em;
   padding-right: 4px;
   margin-top:10px;
   max-width: 630px;
 }

 .hero-header {
   line-height: 98px;
   font-size: 7.5em;
   letter-spacing: -0.03em;
   max-width: 630px;
   margin:0;
 }


 li:after {
   content: "";
   display: block;
   background-color:white;
   width: 0;
   position:absolute;
   height: 3px;
   margin: 5px 0 0 0;
   transition:width 0.5s ease-in-out;
 }

 li .lang-option {
   font-size:1.0em;
 }

 ul {
   list-style-type:none;
 }

 ul li {
   margin: 50px 0 50px 0;
 }


/*
CLASS SELECTORS
 */

.bar {
 position: relative;
 width: 30px;
 margin:3px;
 height: 2px;
 background: #000;
}

.bar:before {
 content: '';
 position: absolute;
 width: 100%;
 height: 100%;
 background: inherit;
 left: 0;
 top: -10px;
 transform-origin: center center;
 transition: transform .25s ease, top .25s ease, bottom .25s ease;
}

.bar:after {
 content: '';
 position: absolute;
 width: 100%;
 height: 100%;
 background: inherit;
 left: 0;
 bottom: -10px;
 transform-origin: center center;
 transition: transform .25s ease, top .25s ease, bottom .25s ease;
}

.button-arrow {
  transform:translateX(-20px);
  transition:transform 0.5s ease-in-out;
}

.button:hover>.button-arrow {
  transform:translateX(0);
}

.clicked.bar {
	background: transparent;
}

.clicked.bar::before{
  transform: rotate(45deg);
  top: 0;
  background: #000;
}

.clicked.bar::after{
  transform: rotate(-45deg);
  bottom: 0;
  background: #000;
}

.deny:after {
  content: "Links dont work in demo!";
  display: block;
  background-color:red;
  width: 200px;
  color:white;
  opacity:1;
  position:absolute;
  height: auto;
}

.email-sign-up {
  height:50px;
  margin: 58px 0 0 0;
  display:flex;
  max-width:540px;
}

.email-sign-up > input {
  box-sizing: border-box;
  font-size:1em;
  padding-left: 10px;
  height:100%;
  width:100%;
}

.email-sign-up > button {
  height:100%;
  font-size:1em;
  width:181px;
  border:none;
  color:white;
  background-color:#00205A;
  transition:background-color 0.2s ease-in-out;
}

.email-sign-up > button:hover {
  background-color: #8D9BB6;
}

.desktop-menu> .menu-list > .menu-item {
  margin:0 50px 0 50px;
}

.desktop-menu> .menu-list > .menu-item > a {
  line-height: 13px;
  font-size: 1em;
  letter-spacing: 0.03em;
  color: #FFFF;
}

.filler-block {
  width:100%;
  height:160px;
  background-color: brown;
}

.filler-block-pink {
  width:100%;
  height:120px;
  background-color: green;
}

.divider {
   width:125px;
   height:1px;
   background-color: #C4C4C4;
   margin: 22px 0px;
}

.flag {
  width:25px;
  height:13px;
  cursor:pointer;
  margin:5px 0 5px 0;
}

.hamburger-menu {
  width: 46px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.hero {
  background-color: darkgrey;
  width:100%;
  height:100vh;
  display:flex;
  background-image:url('../resources/desktop/1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y:bottom;
  flex-direction: column;
  box-sizing: border-box;
  background-attachment: fixed;
  padding: 0 180px 0 180px;
  margin:0;
  justify-content: center;
}

.down-arrow {
  position:absolute;
  bottom:40px;
  align-self: center;
  animation: bounce 0.8s alternate infinite ease-in-out 1.5s;
  transform: translateY(-5px);
}

.logotype {
  height:22px;
  width:29px;
}

.logo-container {
  position:static;
  z-index:2;
  display: flex;
  height:80px;
  align-items: center;
  justify-content: flex-start;
}

.nav-link {
  line-height: 13px;
  font-size: 1em;
  letter-spacing: 0.03em;
}

.no-scroll {
  overflow-y: hidden;
}


.desktop-menu {
  height:80px;
  width:100%;
  opacity:1;
  display:flex;
  flex-direction: row;
  position:fixed;
  padding:0 0 0 180px;
  box-sizing: border-box;
  top:0;
  z-index:1;
}

.flag-container {
  display: flex;
  flex-direction: column;
}

.menu {
  display:none;
}

.menu-list {
  display:flex;
  width:100%;
  justify-content: flex-end;
  align-items: center;
  padding:0 25px 0 0;
}

.mobile-logo {
  display: none;
}

.mobile-container {
  display:none;
}

.navbar {
  display:none;
}

.selected:after {
  content: "";
  display: block;
  background-color:white;
  width: 100px;
  position:absolute;
  height: 3px;
  margin: 5px 0 0 0;
  transition:width 0.5s ease-in-out;
}

.button {
   height:100%;
   font-size:1em;
   width:180px;
   height:50px;
   border:none;
   color:white;
   background-color:#00205A;
   margin-top:58px;
   font-family:aktiv-grotesk, sans-serif;
   display: flex;
   justify-content: space-around;
   align-items: center;
}
.slideshow {
   height:617px;
   background-color:white;
}

.title-container {
  animation: fade-in 1s ease-in-out;
}

@keyframes fade-in {
  from {
    transform: translateY(-10px);
    opacity:0;
  }

  to {
    transform: translate(0);
    opacity:1;
  }
}

@keyframes bounce {
   from {
      transform: translateY(-5px);
   }

   to {
      transform: translateY(5px);
   }
}

/*
MEDIA QUERY MOBILE
 */

 @media only screen and (max-width: 768px) {
     /* For mobile phones: */
   .hero {
     background-image:url('../resources/mobile/1.jpg');
     padding: 0 22px 0 22px;
   }

   .hero-sub {
     font-size:1em;
     padding-right: 4px;
   }

   div.hidden {
     opacity:0;
     overflow: hidden;
     height:0;
   }

   .desktop-menu {
     display:none;
   }

   .flag {
     width:38px;
     height:19px;
   }

   .hero-header {
     font-size:3.75em;
     line-height: 0.95;
     margin-bottom:19px;
   }

   .navbar.visible {
     opacity: 1;
     height:50px;
   }

   .navbar {
     width:100%;
     height:50px;
     background-color: white;
     display: flex;
     justify-content: center;¨
     align-items: center;
     position:fixed;
     bottom:0;
     opacity:1;
     transition:all 0.2s ease-in-out;
     z-index: 2;
   }

   .logo-container {
     justify-content: center;
     padding:0;
     position:fixed;
     width:100%;
   }

   .logotype {
     width:33px;
     height:26px;
   }

   .menu-list {
     display:flex;
     width:100%;
     justify-content: flex-end;
     align-items: center;
   }

   .menu {
     height:0;
     width:100%;
     background-color:  #000C21;
     opacity:0;
     transition:all 0.5s ease-in-out;
     display:flex;
     bottom: -100%;
     position:fixed;
     bottom:0;
     overflow: hidden;
     z-index:1;
     padding:0 0 50px 55px;
     box-sizing: border-box;
     align-items: center;
   }



  .mobile-container{
    position: fixed;
    z-index:2;
    display: flex;
    height:80px;
    width:100%;
    align-items: center;
    justify-content: flex-start;
  }

   .open {
     opacity:1;
     height:100vh;
   }

   .menu-item a{
    font-size: 1.5em;
    letter-spacing: 0.03em;
    color: #FFFFFF;
   }
 }

@media (min-width: 768px) and (max-width: 1024px) {
 /* For Tablets: */

 div.hidden {
   opacity:0;
   overflow: hidden;
   height:0;
 }

 .navbar {
   width:100%;
   height:50px;
   background-color: white;
   display: flex;
   justify-content: center;¨
   align-items: center;
   transition:all 0.2s ease-in-out;
   position:fixed;
   bottom:0;
   z-index: 2;
 }
 .desktop-menu {
   display:none;
 }

 .flag {
   width:38px;
   height:19px;
 }

 .logo-container {
   justify-content: center;
   padding:0;
   width:100%;
 }

 .logotype {
   width:33px;
   height:26px;
 }

 .menu {
   height:0;
   width:100%;
   background-color:  #000C21;
   opacity:0;
   transition:all 0.5s ease-in-out;
   display:flex;
   bottom: -100%;
   position:fixed;
   bottom:0;
   overflow: hidden;
   z-index:1;
   padding:0 0 50px 55px;
   box-sizing: border-box;
   align-items: center;
 }

 .menu-item a{
  font-size: 1.5em;
  letter-spacing: 0.03em;
  color: #FFFFFF;
 }

 .mobile-container{
   position: fixed;
   z-index:2;
   display: flex;
   height:80px;
   width:100%;
   align-items: center;
   justify-content: flex-start;
 }


 .open {
   opacity:1;
   height:100vh;
 }
}
