@import url("https://p.typekit.net/p.css?s=1&k=yrr6lcj&ht=tk&f=14032.14033.14034&a=13081250&app=typekit&e=css");

/*
GLOBAL SELECTORS
 */

 *{
   margin:0;
   padding:0;
 }


 a {
  color:white;
  font-size:2em;
  text-decoration: none;
 }

 body {
   padding:0;
   margin:0;
   width:100%;
   height:100vh;
   font-family:aktiv-grotesk, sans-serif;
   transition: all 0.3s;
   background-color: white;
   color:white;
 }

 .hero-sub {
   line-height: normal;
   font-size: 18px;
   letter-spacing: 0.03em;
   padding-right: 4px;
   margin-top:10px;
 }

 .hero-header {
   line-height: 98px;
   font-size: 120px;
   letter-spacing: -0.03em;
   margin:0;
 }


 li:after {
   content: "";
   display: block;
   background-color:white;
   width: 0;
   position:absolute;
   height: 3px;
   margin: 5px 0 0 0;
   transition:width 0.5s ease-in-out;
 }

 li .lang-option {
   font-size:1.0em;
 }

 ul {
   list-style-type:none;
 }

 ul li {
   margin: 35px 0 35px 0;
 }


/*
CLASS SELECTORS
 */

.bar {
 position: relative;
 width: 30px;
 margin:3px;
 height: 2px;
 background: #000;
}

.bar:before {
 content: '';
 position: absolute;
 width: 100%;
 height: 100%;
 background: inherit;
 left: 0;
 top: -10px;
 transform-origin: center center;
 transition: transform .25s ease, top .25s ease, bottom .25s ease;
}

.bar:after {
 content: '';
 position: absolute;
 width: 100%;
 height: 100%;
 background: inherit;
 left: 0;
 bottom: -10px;
 transform-origin: center center;
 transition: transform .25s ease, top .25s ease, bottom .25s ease;
}

.clicked.bar {
	background: transparent;
}

.clicked.bar::before{
  transform: rotate(45deg);
  top: 0;
  background: #000;
}

.clicked.bar::after{
  transform: rotate(-45deg);
  bottom: 0;
  background: #000;
}

.email-sign-up {
  width:100%;
  height:50px;
  margin: 58px 0 0 0;
  display:flex;
  max-width:540px;
}

.email-sign-up > input {
  box-sizing: border-box;
  font-size:16px;
  padding-left: 10px;
  height:100%;
  width:100%;
}

.email-sign-up > button {
  height:100%;
  font-size:16px;
  width:181px;
  border:none;
  color:white;
  background-color:#00205A;
  transition:background-color 0.2s ease-in-out;
}

.email-sign-up > button:hover {
  background-color: #8D9BB6;
}

.desktop-menu> .menu-list > .menu-item {
  margin:0 50px 0 50px;
}

.filler-block {
  width:100%;
  height:160px;
  background-color: brown;
}

.filler-block-pink {
  width:100%;
  height:120px;
  background-color: green;
}

.divider {
   width:125px;
   height:1px;
   background-color: #C4C4C4;
   margin: 22px 0px;
}

.flag {
  width:38px;
  height:19px;
}

.hamburger-menu {
  width: 46px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.hero {
  background-color: darkgrey;
  width:100%;
  height:100vh;
  display:flex;
  background-image:url('../resources/desktop-hero.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y:bottom;
  flex-direction: column;
  box-sizing: border-box;
  background-attachment: fixed;
  padding: 0 31px 0 180px;
  margin:0;
  justify-content: center;
}

.logotype {
  position:fixed;
  height:50px;
  width:50px;
}

.logo-container {
  position: fixed;
  z-index:2;
  display: flex;
  padding-left:90px;
  height:80px;
  align-items: center;
  justify-content: flex-start;
}

.nav-link {
  line-height: 13px;
  font-size: 16px;
  letter-spacing: 0.03em;
}


.desktop-menu {
  height:80px;
  width:100%;
  background-color:;
  opacity:1;
  display:flex;
  flex-direction: row;
  position:absolute;
  top:0;
  background-color:#00205A;
  z-index:1;
}

.menu {
  height:0;
  width:100%;
  background-color:  #000C21;
  opacity:0;
  transition:all 0.5s ease-in-out;
  display:flex;
  bottom: -100%;
  position:fixed;
  bottom:0;
  overflow: hidden;
  padding:0 0 50px 55px;
  box-sizing: border-box;
  align-items: center;
}

.menu-list {
  display:flex;
  width:100%;
  justify-content: flex-end;
  align-items: center;
}

.navbar {
  display:none;
}

.open {
  opacity:1;
  height:100vh;
}

.selected:after {
  content: "";
  display: block;
  background-color:white;
  width: 100px;
  position:absolute;
  height: 3px;
  margin: 5px 0 0 0;
  transition:width 0.5s ease-in-out;
}

.history {
   display:flex;
   flex-direction:column;
   justify-content:center;
   height:688px;
   background-image:url('../resources/X-Walk.jpg');
   background-repeat:no-repeat;
   background-size:cover;
   padding:20px;
   font-family:aktiv-grotesk, sans-serif;
}

.button {
   height:100%;
   font-size:16px;
   width:180px;
   height:50px;
   border:none;
   color:white;
   background-color:#00205A;
   margin-top:58px;
   font-family:aktiv-grotesk, sans-serif;
}
.slideshow {
   height:617px;
   background-color:white;
}

.autonomous {
   display:flex;
   flex-direction:column;
   justify-content:center;
   background-color:#ffffff;
   padding:20px;
   color:#000000;

}

.footer {
   background-color:#00205A;
   height:812px;
   margin-bottom:50px;

}

.CTA {
   display:flex;
   flex-direction:column;
   justify-content:center;
   height:337px;
   background-color:rgba(0, 0, 0, 0.2);
   border-top:1px solid grey;
   border-bottom:1px solid grey;
   padding:20px;
   color:#334A74;
}

.last {
   background-color:#000C21;
   color:#FFFFFF;
   border-top:0px ;
   border-bottom:0px;
}

/*
MEDIA QUERY MOBILE
 */

 @media only screen and (max-width: 768px) {
     /* For mobile phones: */
   .hero {
     background-image:url('../resources/mobile-hero.png');
     padding: 0 31px 0 22px;
   }

   .hero-sub {
     font-size:16px;
     padding-right: 4px;
   }

   .desktop-menu {
     display:none;
   }

   .hero-header {
     font-size:60px;
     line-height: 0.95;
     margin-bottom:19px;
   }

   .navbar.visible {
     opacity: 1;
     height:50px;
   }

   .navbar {
     width:100%;
     height:50px;
     background-color: white;
     display: flex;
     justify-content: center;¨
     align-items: center;
     position:fixed;
     bottom:0;
     opacity:1;
     transition:all 0.2s ease-in-out;
     z-index: 2;
   }

   .logo-container {
     justify-content: center;
     padding:0;
     width:100%;
   }

   .menu-list {
     display:flex;
     width:100%;
     justify-content: flex-end;
     align-items: center;
   }
 }

@media (min-width: 768px) and (max-width: 1024px) {
 /* For Tablets: */
 .navbar {
   width:100%;
   height:50px;
   background-color: white;
   display: flex;
   justify-content: center;¨
   align-items: center;
   position:fixed;
   bottom:0;
   z-index: 2;
 }
 .desktop-menu {
   display:none;
 }

 .logo-container {
   justify-content: center;
   padding:0;
   width:100%;
 }

}
